<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>i1000 Quick builder</title>
    <link rel="stylesheet" href="../styles/theme-neptune-all.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>

<body>
    <h1></h1>
    <script src="../js/ext-all.js"></script>
    <script src="../js/charts.js"></script>
    <script src="../js/ext-component.js"></script>
    <script src="../app/index.js"></script>
    <script src="../app/menu.js"></script>
    <script src="../js/BACnetComponents.js"></script>

</body>
<script>
    Ext.onReady(function () {
        //  Ext.create("ConfigBACnet")
    })
</script>

</html>